/* 📄 app/globals.css → File CSS global aplikasi */

/* Import directive TailwindCSS (include base, components, utilities)*/
@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #24262b;
  --brand-darker: #1E1E1E;
  --brand-dark: #3c3e42;
  --brand-light: #F3F1E7;
  --brand-gold: #A97D39;
  --brand-goldhover: #3A586E;
  --brand-goldsoft: rgba(174, 131, 85, 0.8);
  --brand-accent: #D4C1A3;
  --brand-blue: #2c3a53;
  --brand-white: #ffffff;

  /* Toast Theme */
  --success: #10b981;
  --success-bg: #ecfdf5;
  --error: #ef4444;
  --error-bg: #fee2e2;
  /* Tambahkan variabel warna lain sesuai kebutuhan */
}

/* 
  Mode gelap (dark mode) — otomatis aktif berdasarkan preferensi sistem user
  - Warna background jadi hitam pekat
  - Warna teks jadi terang
*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.font-cinzel {
  font-family: var(--font-cinzel), serif;
}

.font-sans {
  font-family: var(--font-inter), sans-serif;
}

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotateY-180 {
  transform: rotateY(180deg);
}
